<!DOCTYPE html>
<html>
  <head>
    <title>PostBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <nav class="main-nav">
        <div class="logo">
          <h1 class="header"><a href="/">Post<span class="blue">Box</span></a></h1>
        </div>
        <div class="nav-buttons">
          <% if(authenticated){%>
            <button class="login"><a href="/log-out">Logout</a></button>
            <% }%>
            <% if(!authenticated){%>
              <button class="login"><a href="/login">Login</a></button>
              <% }%>
          <button class="sign-up"><a href="/sign-up">Sign-up</a></button>
        </div>
    </nav>
    <% if(!authenticated){%>
      <div class="info-board">
        <div class="box purple"></div>
        <div class="info">
          <h1 class="sign-text">You must be logged in to view posts</h1>
          <a href="/login"><button class="login">Login</button></a>
          <a href="/sign-up"><button class="sign-up">Sign-up</button></a>
        </div>
      <% }%>
      <% if(authenticated){%>
        <ul class="mainbox">
          <% messages.forEach((message) => { %>
            <div class="message-box">
              <p class="username"><%= message.user_name.user_name %></p>
              <p class="user-text"><%= message.text %></p></p>
            </div>
          <% }); %>
        </ul>
        <% }%>
    <div class="chatbox">
      <form action="" class="message" method="post">
        <input type="text" class="users-message" placeholder="message" name="message">
        <button class="send-message" type="submit">Post</button>
      </form>
    </div>
  </body>
</html>
