
<!DOCTYPE html>
<html>
  <head>
    <title>PostBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <nav class="main-nav">
        <div class="logo">
          <h1>Post<span class="blue">Box</span></h1>
        </div>
        <div class="nav-buttons">
          <button class="login">Login</button>
          <button class="sign-up">Sign-up</button>
        </div>
        </nav>
   <div class="main-form">
    <h1 class="form-header">Login</h1>
    <form action="/login" method="post" class="form-secondary">  
      <input type="text" id="username" name="username" required placeholder="Enter User Name" >
      <input type="password" id="password" name="password" minlength="8" required placeholder="Enter Password">
      <button type="submit" class="form-submit-button">Login</button>
    </form>
    <ul>
      <% errors.forEach((error) => { %>
        <p class="errors"><%= error.msg %></p>
      <% }); %>
    </ul>
   </div>
    </div>
  </body>
</html>
